
  .titleDetailProduct {
    text-align: center;   
    font-size: 400%;
    justify-content: space-around;
    padding: 1rem;
  }
.containerProductDetail {
  position: relative;
  display: flex ;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}

.containerListDetail {
 display: flex;
 flex-wrap: nowrap;
  width: 60%;
  text-align: center;
  justify-content: space-evenly;

}
.containerImg{
  display: flex;
  width: 4%;
}
.containerList{
  display: flex;
  flex-direction: column;
}
.imgProductDetailSlick{
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.listDetail {
  display: flex ;
  margin: auto;
  text-align: justify;
  font-weight: bold;
  font-size: 17px;
  width: 100%;
  padding:1rem;
  height: auto;
}
.listDetail:hover{
  background-color: rgb(221, 219, 219);
  
}

.containerButtonDetailProduct {
  margin: auto;
  margin: 50px;
}
.buttonDetailProduct {
  margin: 10px;
  padding: 5px;
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
}
.buttonDetailProduct:hover {
  cursor: pointer;
  background-color:#f5a742;
}


@media (max-width: 1200px){
  .containerListDetail{
      width: 22%;
  }
  .imgProductDetailSlick{
      width: 70%;
      margin: auto;
  }
}

