.containerProduct{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin: auto;
}
.titleProduct{
    display: flex;
    font-size: 500%;
    justify-content: space-around;
    text-decoration:underline;
}
.productContainer{
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    margin: 3rem;
    padding: 2rem;
    text-align: center;
    padding: 2px;
    background-color: rgb(250, 248, 245);
    justify-content: space-around;
    border-radius: 50px 50px 50px 50px;
   
}
.imgProduct{
    width: 50%;
    margin: auto;
}
.descriptionContainer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .5rem;
    padding: 1rem ;
    background-color:#222a33;
    width: 100%;
    height: auto;
    border-radius: 0px 0px 50px 50px;
}
.descriptionContainer h3{
    text-align: center;
    margin-bottom: 1rem ;
    margin-top: .5rem;
    font-family: 'Electrolize';
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.descriptionContainer p{
    text-align: center;
    font-size: 25px;
    color:#f5a742;    
    font-weight: bold;
}

.buttonContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.buttonProductContainer{
    margin: 1px;
    padding: .4rem;
    height: auto;
    width: auto;
    font-size: 15px;
    font-weight:bold;
    border-radius: 50px;
}
.buttonProductContainer:hover{
    cursor: pointer;
    background-color:#f5a742;   
}
.containerBackButton{
    margin:auto;   
    width: 100%;
    text-align: center;

}
.buttonBackButton{
    margin: 25px;
    padding: .5rem 4rem;
    height: auto;
    width: 50%;
    font-size: 25px;
    font-weight:bold;
    border-radius: 20px
}
.buttonBackButton:hover{
    cursor: pointer;
    background-color:#f5a742;   
}