
.titleDetailProductGaming {
    text-align: center;   
    font-size: 400%;
    justify-content: space-around;
    padding: 1rem;
  }
.containerProductDetailGaming {
  position: relative;
  display: flex ;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}

.containerListDetailGaming {
 display: flex;
 flex-wrap: nowrap;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;

}
.imgProductGamingDetail{
    width: 100%;
    margin: auto;
}

.containerListGaming{
  display: flex;
  flex-direction: column;
}
.imgProductDetailSlick{
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.listDetailGaming {
  display: flex ;
  margin: auto;
  text-align: justify;
  font-weight: bold;
  font-size: 17px;
  width: 100%;
  padding:1rem;
  height: auto;
}
.listDetailGaming:hover{
  background-color: rgb(221, 219, 219);
  
}

.containerButtonDetailProductGaming {
  margin: auto;
  margin: 50px;
}
.buttonDetailProductGaming {
  margin: 10px;
  padding: 5px;
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
}
.buttonDetailProductGaming:hover {
  cursor: pointer;
  background-color:#f5a742;
}
