/* BANNER */
.banner {
  width: 100%;
  height: 55vh;
  background-size: 100% 100%;
  animation: banner 60s infinite;
  animation-direction: normal;
}
@keyframes banner {
  0%,
  10% {
    background-image: url(/src/images/banner/banners1.jpeg);
    opacity: 1;
  }
  11%,
  20% {
    background-image: url(/src/images/banner/Banner2.jpeg);
    opacity: 1;
  }
  21%,
  30% {
    background-image: url(/src/images/banner/Banner3.jpeg);
    opacity: 1;
  }
  31%,
  40% {
    background-image: url(/src/images/banner/banner4.webp);
    opacity: 1;
  }
  41%,
  50% {
    background-image: url(/src/images/banner/banner5.jpeg);
    opacity: 1;
  }
  51%,
  60% {
    background-image: url(/src/images/banner/banner6.jpeg);
    opacity: 1;
  }
  61%,
  70% {
    background-image: url(/src/images/banner/banner7.jpeg);
    opacity: 1;
  }
  71%,
  80% {
    background-image: url(/src/images/banner/banner8.webp);
    opacity: 1;
  }
  81%,
  90% {
    background-image: url(/src/images/banner/banner9.webp);
    opacity: 1;
  }
  91%,
  100% {
    background-image: url(/src/images/banner/banner10.webp);
    opacity: 1;
  }
}
/* FIN BANNER */


/* QUICK ACCSESS */
.quickAccess {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  margin-top: 1.5rem;
  text-align: center;
  justify-content: space-around;
  width: 75vw;
}
.cardQuickAccess {
  display: flex;
  width: 70vw;
  margin: 3px;
  border-radius: 25px 5px 25px 5px;
  font-weight: bold;
  align-items: center;
  background-color: white;
}
.cardQuickAccess:hover {
  cursor: pointer;
  box-shadow: 1px 2px 1px #f5a742;   ;
  /* border: 3px solid #f7a902; */
  /*  box-shadow: 1px 1px 10px .1px; */
}
.iconsQuickAccess {
  width: 3rem;
  height: 3rem;
  margin: 2px;
  transition: all 1500ms;
}
.cardQuickAccess:hover img {
  transform: rotateY(-360deg);
}
.cardQuickAccess a {
  text-decoration: none;
  color: black;
  margin: auto;
  text-align: center;
  justify-content: space-around;
}
/* QUICK ACCSESS */


/* SLIDER HOME */
.sliderHomeProducts {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  justify-content: space-evenly;
  height: 20vh;
  text-align: center;
  margin-top: 2%;
}
.cardSliderHomeProducts{
  margin: 5px;
  width: 20vw;
  height: 15vh;
  font-weight: bold;
  background-color: white;
  border-radius: 25px 5px 25px 5px;
}
.cardSliderHomeProducts:hover{
    box-shadow: 1px 2px 1px #f5a742;    ;
}
.imgSliderHomeProducts{
  margin: 4%;
  width: 17vw;
  height: 12vh;
}
/* FIN SLIDER HOME */


/* PRODUCTS */

.containerCardHomeProduct{
  display: flex;
  flex-wrap: wrap; 
  margin: 3rem auto ;
  justify-content: space-around;
  text-align: center;
}
.cardHomeProduct{
 width: 50%;
  
}
.linkCardHomeProduct{
  text-decoration: none;
}
.imgCardHomeProduct{
  width: 50%;
  height: auto;
  border: 1px solid #222a33;
}
.tittleCardHomeProduct{
 font-size: 35px;
 background-color:#e7e7e7;
 border: 1px solid #222a33;
 width: 50%;
 margin: auto;
 color: #f5a742;   
} 
.tittleCardHomeProduct:hover {
  background-color: #f5a742;
  color:#222a33;
}
.imgBanerFooter{
  width: 100%;
  height: 20rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.imgBanerFooter:hover{
  box-shadow: 3px 1px 5px 1px black
}
.containerLogoRedirect{
  display: flex;
  width: 100%;
  justify-content:space-evenly;
  background-color: #222a33;
}
.logoRedirect{
  border-radius:10000px ;
  width: 15rem;
  margin: 2rem 0rem 2rem 0rem;
}
.logoRedirect:hover{
  box-shadow: 1px 5px 15px 10px rgb(90, 88, 88);
}