.banner img {
  height: 50vh;
}
.hr {
  margin: auto;
  width: 75%;
}

.bannerBottomBanner {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  background-color: #27262b;
  color: white;
  align-items: center;
  font-weight: 700;
}
.bottomBannerItem {
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin: 1rem;
  transition: all 0.2s;
}
.bottomBannerItem:hover {
  cursor: pointer;
  color: #f5a742;
  box-shadow: 1px 1px 10px 1px white;
}
.imgBannerBottomBanner {
  width: 3rem;
  margin: 0.5rem;
}

/* SLIDER HOME */
.sliderHomeProducts {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  justify-content: space-evenly;
  height: 20vh;
  text-align: center;
  margin-top: 2%;
}
.cardSliderHomeProducts {
  margin: 5px;
  width: 20vw;
  height: 15vh;
  font-weight: bold;
  background-color: white;
  border-radius: 25px 5px 25px 5px;
}
.cardSliderHomeProducts:hover {
  box-shadow: 1px 2px 1px #f5a742;
}
.imgSliderHomeProducts {
  margin: 4%;
  width: 17vw;
  height: 12vh;
}
/* FIN SLIDER HOME */

/* PRODUCTS */
.containerCardHomeProduct {
  text-align: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  display: inline;
}


.containerSliderHome {
  display: block;
  width: 75vw;
  margin: auto;
}

.slick-arrow {
  background-color: #e0e0e0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
}
.slick-arrow:hover {
  background-color: #e0e0e0;
  box-shadow: 1px 1px 90px 0.1rem #666564;
}

.imgCardHomeProduct {
  margin: auto;
  width: 20vw;
  border-radius: 5px;
}
.containerSliderProductsGamingHome {
  display: flex;
  background-color: #fff;
  width: 65vw;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.ProductsGamingHome {
  margin: 2rem auto;
  width: 30vw;
}
.iconCardHomeProduct {
  display: flex;
  align-items: center;
  cursor: pointer;
}


/* PRODUCTS */

.containerLogoRedirect {
  margin-top: 5%;
 /*  margin-bottom: 0.5%; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  background-color: #27262b;
  /*   background-color: #222a33; */
}
.logoRedirect {
  border-radius: 10000px;
  width: 15rem;
  margin: 1rem 0rem 1rem 0rem;
}
.logoRedirect:hover {
  box-shadow: 1px 5px 15px 10px rgb(90, 88, 88);
}

.imgBanerFooter {
  width: 100%;
  height: 20rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all .2s;
}
.imgBanerFooter:hover {
  box-shadow: 3px 1px 5px 1px black;
}

.containerContactHome {
  display: grid;
  place-items: center;
  width: 97%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f8f8f8;
}
.titleContactHome {
  text-decoration: underline;
  margin: 0rem 0rem 01rem 0rem;
}
.titleContactHome3{
  display: grid;
  justify-content: center;
  padding: .5rem
}
.imgContactHome {
  margin: 1rem;
  width: 6rem;
}
.buttonContactHome {
  width: 100%;
  background-color: #fff;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  transition: all .2s;
}
.buttonContactHome:hover{
  background-color: #f5a742;;
}
.containerHelpers{
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
}
.helpers{
  display:grid;
  place-items: center;
  justify-content: space-evenly;
  margin: auto;
  padding:2rem;
  text-align: start;
  width: 80%;
}
.helpers h2{
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.helpers p{
  font-size: 12px;
  line-height: 18px;
}
.logosInfoHelper{
  margin: 1rem;
  width: 5rem;
}

@media (max-width: 1300px) {
  .cardQuickAccess {
    display: none;
  }
  .cardSliderHomeProducts {
    display: none;
  }
  .tittleCardHomeProduct {
    display: flex;
    margin: auto;
  }
  .cardHomeProduct {
    width: 95vw;
  }

  .tittleCardHomeProduct {
    width: 25vw;
  }
  .banner {
    display: none;
  }
}

@media (max-width: 1000px) {
  .banner {
    height: 40vh;
  }

  .containerCardHomeProduct {
    display: none;
  }


  .containerLogoRedirect {

    border-bottom: solid 15px #222a33;
  }
}

@media (max-width: 800px) {
  .containerLogoRedirect {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  .logoRedirect {
    width: 35%;
  }
  .banner {
    display: none;
  }

  .cardHomeProduct {
    overflow: hidden;
    margin: 25px;
    width: 75vw;
    height: 50%;
  }
  .imgCardHomeProduct {
    width: 40%;
    opacity: 1;
    margin: auto;
  }
  .tittleCardHomeProduct {
    width: 40vw;
    top: 5%;
    font-size: 40px;
  }
  .bannerBottomBanner p {
    display: none;
  }
  .containerHelpers{
    flex-wrap: wrap;
  }
  .helpers{
    text-align: center; 
  }
}
@media (max-width: 700px) {
  .imgBanerFooter {
    display: none;
  }
}
@media (max-width: 500px) {
  .imgCardHomeProduct {
    width: 65%;
    margin: auto;
  }
  .bannerBottomBanner {
    display: none;
  }
}
