.banner img {
  height: 50vh;
}
.bannerBottomBanner {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  background-color: #27262b;
  color: white;
  align-items: center;
  font-weight: 700;
}
.bottomBannerItem {
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin: 1rem;
  transition: all 0.2s;
}
.bottomBannerItem:hover {
  cursor: pointer;
  color: #f5a742;
  box-shadow: 1px 1px 10px 1px white;
}
.imgBannerBottomBanner {
  width: 3rem;
  margin: 0.5rem;
}
/* QUICK ACCSESS */
.quickAccess {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  margin-top: 1.5rem;
  text-align: center;
  justify-content: space-around;
  width: 75vw;
}
.cardQuickAccess {
  display: flex;
  width: 70vw;
  margin: 3px;
  border-radius: 25px 5px 25px 5px;
  font-weight: bold;
  align-items: center;
  background-color: white;
}
.cardQuickAccess:hover {
  cursor: pointer;
  box-shadow: 1px 2px 1px #f5a742;
  /* border: 3px solid #f7a902; */
  /*  box-shadow: 1px 1px 10px .1px; */
}
.iconsQuickAccess {
  width: 3rem;
  height: 3rem;
  margin: 2px;
  transition: all 1500ms;
}
.cardQuickAccess:hover img {
  transform: rotateY(-360deg);
}
.cardQuickAccess a {
  text-decoration: none;
  color: black;
  margin: auto;
  text-align: center;
  justify-content: space-around;
}
/* QUICK ACCSESS */

/* SLIDER HOME */
.sliderHomeProducts {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  justify-content: space-evenly;
  height: 20vh;
  text-align: center;
  margin-top: 2%;
}
.cardSliderHomeProducts {
  margin: 5px;
  width: 20vw;
  height: 15vh;
  font-weight: bold;
  background-color: white;
  border-radius: 25px 5px 25px 5px;
}
.cardSliderHomeProducts:hover {
  box-shadow: 1px 2px 1px #f5a742;
}
.imgSliderHomeProducts {
  margin: 4%;
  width: 17vw;
  height: 12vh;
}
/* FIN SLIDER HOME */

/* PRODUCTS */
.containerCardHomeProduct {
  text-align: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  display: inline;
}

.containerProductsMobile {
  display: none;
}

.containerSliderHome {
  display: block;
  width: 75vw;
  margin: auto;
}

.slick-arrow {
  background-color: #e0e0e0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
}
.slick-arrow:hover {
  background-color: #e0e0e0;
  box-shadow: 1px 1px 90px 0.1rem #666564;
}
.containerSliderHome h1,
.containerSliderHome h4 {
  display: flex;
}

.linkCardHomeProduct {
  text-decoration: none;
}
.imgCardHomeProduct {
  margin: auto;
  width: 20vw;
  border-radius: 5px;
}
.containerSliderProductsGamingHome {
  display: flex;
  background-color: #fff;
  width: 65vw;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.ProductsGamingHome {
  margin: 2rem auto;
  width: 30vw;
}
.iconCardHomeProduct {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* .iconCardHomeProduct img {
  transition: all 0.3s;
  opacity: 1;
}

.iconCardHomeProduct:hover img {
  cursor: pointer;
  opacity: 0.03;
} */

.iconCardText {
  color: black;
  font-weight: 500;
}
.iconCardHomeProductLink {
  text-decoration: none;
  margin-left: 2rem;
}
.iconCardHomeProduct p {
  transition: all 0.3s;
  opacity: 0.05;
  font-size: 17px;
}

.iconCardHomeProduct:hover p {
  opacity: 1;
}

.imgBanerFooter {
  width: 100%;
  height: 20rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.imgBanerFooter:hover {
  box-shadow: 3px 1px 5px 1px black;
}
.containerLogoRedirect {
  margin-top: 5%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #27262b;
}
.logoRedirect {
  border-radius: 10000px;
  width: 15rem;
  margin: 1rem 0rem 1rem 0rem;
}
.logoRedirect:hover {
  box-shadow: 1px 5px 15px 10px rgb(90, 88, 88);
}



@media (max-width: 1300px) {
  .cardQuickAccess {
    display: none;
  }
  .cardSliderHomeProducts {
    display: none;
  }
  .tittleCardHomeProduct {
    display: flex;
    margin: auto;
  }
  .cardHomeProduct {
    width: 95vw;
  }

  .tittleCardHomeProduct {
    width: 25vw;
  }
  .banner {
    display: none;
  }
}

@media (max-width: 1000px) {
  .banner {
    height: 40vh;
  }
  .imgBanerFooter {
    display: none;
  }
  .containerCardHomeProduct {
    display: none;
  }

  .containerProductsMobile {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    margin: auto;
    justify-content: center;
  }

  .ProductsGamingHomeMobile {
    display: flex;
    background-color: #e7e7e7;
    border-radius: 20px;
    width: 70vw;
    margin: 2rem;
  }

  .imgCardHomeProductMobile {
    display: flex;
    width: 70%;
    margin: auto;
  }

  .containerLogoRedirect {
    border-bottom: solid 15px #222a33;
  }
}

@media (max-width: 800px) {
  .containerLogoRedirect {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  .logoRedirect {
    width: 35%;
  }
  .banner {
    display: none;
  }
  /*   .containerCardHomeProduct {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  } */
  .cardHomeProduct {
    overflow: hidden;
    margin: 25px;
    width: 75vw;
    height: 50%;
  }
  .imgCardHomeProduct {
    width: 40%;
    opacity: 1;
    margin: auto;
  }
  .tittleCardHomeProduct {
    width: 40vw;
    top: 5%;
    font-size: 40px;
  }
  .bannerBottomBanner p {
    display: none;
  }
}
@media (max-width: 500px) {
  .imgCardHomeProduct {
    width: 65%;
    margin: auto;
  }
  .bannerBottomBanner {
    display: none;
  }
}