.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8em;
  background-color: #1d1d20;
  color: white;
}
.navbar ul{
  z-index: 9;
}
.logoNavBar {
  width: 10em;
}
.nav-Links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}
.homeNavBar,
.brandsNavBar,
.saleProductsNavBar,
.messageNavBar {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.mobile-menu-icon {
  display: none;
}
@media screen and (max-width: 780px) {
  .logoNavBar {
    display: flex;
    position: absolute;
    top: 15px;
    left: 25px;
  }
  .nav-Links {
    display: none;
  }
  .nav-Links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color:  #222a33;
    left: 0;
    top: 8em;
    transition: 500ms ease-out;
    width: 100%;
  }
  .homeNavBar,
  .brandsNavBar,
  .saleProductsNavBar,
  .messageNavBar {
    color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: 500ms ease;
  }
  .mobile-menu-icon{
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color:  #222a33;
    border: none;
    outline: none;
    top: 25px;
    right: 25px;
  }
}
