.containerFooter{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin:auto;
    text-align: center;
    justify-content: space-evenly;
    color: white;
    background-color:  #222a33;
    position: absolute;    
}

.footerTittleInput{
  width: 100%;
  background-color: #27262b;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.containerLiFooter ul li{
  flex-direction: row;
  
}