.containerProductDetail {
 
  margin: auto;
  width: 90vw;
}
.titleDetailProduct {
  font-size: 500%;
  display: flex;
  justify-content: space-around;
}
.containerDetail {
  justify-content: space-around;
  text-align: center;

}
.containerListDetail {
  width: 100%;
  text-align: center;

}
.imgDetailProduct {
  margin: 50px 25px 25px 25px;
  width: 25vw;
  height: auto;
}
.listDetail {
  width: auto;
  margin: 10px 50px 15px 50px;
  font-weight: bold;
  list-style: none;
  padding: auto;
}

.containerButtonDetailProduct {
  margin: auto;
}
.buttonDetailProduct {
  margin: 10px;
  padding: 5px;
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
}
.buttonDetailProduct:hover {
  cursor: pointer;
  background-color: rgb(212, 200, 200);
}
