.containerProductOffice {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: auto;
}
.titleProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: roboto, serif;
  font-weight: 100;
  margin-top: 2rem;
}
.linkProduct{
    text-decoration: none;
    width: 100%;
}
.productContainer {
  display: flex;
  flex-wrap: wrap;
  width: 15%;
  margin: 3rem;
  text-align: center;
  padding: 2px;
  background-color: rgb(250, 248, 245);
  justify-content: space-around;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 5px 2px 1px rgb(148, 145, 145);
  overflow: hidden;
  transition: all 0.3s;
}
.productContainer:hover {
  box-shadow: 5px 10px 5px 2px rgb(148, 145, 145);
}
.imgProduct {
  width: 100%;
}
.descriptionContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #e7e7e7;
  width: 100%;
  height: auto;
  border-radius: 0px 0px 50px 50px;
  flex-direction: column;
}
.descriptionContainer h3 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: 25px;
  color: black;
  font-weight: bold;
}
.descriptionContainer p {
  text-align: center;
  font-size: 25px;
  color: #f5a742;
  font-weight: bold;
}

.buttonContainerOffice {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.buttonProductContainerOffice {
  margin: 1px;
  padding: 0.4rem;
  height: auto;
  width: auto;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  border: solid .1rem  rgb(148, 145, 145);
  transition: all 0.3s;
}
.buttonProductContainerOffice:hover {
  cursor: pointer;
  background-color: #f5a742;
}
.containerBackButtonOffice {
  margin: auto;
  width: 100%;
  text-align: center;
}
.buttonBackButtonOffice {
    margin: 25px;
    padding: .5rem 4rem;
    height: auto;
    width: 25%;
    font-size: 25px;
    font-weight:bold;
    border-radius: 20px;
    border: solid 1px;
}
.buttonBackButtonOffice:hover {
  cursor: pointer;
  background-color: #f5a742;
}

@media (max-width: 1200px) {
  .productContainer {
    width: 22%;
  }
  /* .imgProduct {
    height: 13rem;
  } */
}

@media (max-width: 1000px) {
  .productContainer {
    width: 30%;
  }
  /* .imgProduct {
    width: 80%;
  } */
}

@media (max-width: 700px) {
  .productContainer {
    width: 50%;
  }
 /*  .imgProduct {
    width: 100%;
  } */
}
@media (max-width: 400px) {
  .productContainer {
    width: 100%;
  }
/*   .imgProduct {
    width: 100%;
  } */
}
