.containerNotFound{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 12rem;
}
 .imgNotFound{
    margin: auto;
    width: 4rem;
    height: 4rem;
}
.containerListNotFound{
    display: grid;
    place-items: center;
    margin: auto;
    padding: 1rem;
    margin: auto;
}
.listNotFound{
    display: grid;
    place-items: center;
    color: grey;
    font-size: 20px;
    width: 90vw;
}
 