.titleProductFeature {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 50px;
}
.containerFeature {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.productContainerFeature {
    display: flex;
  flex-wrap: nowrap;
  margin: 1rem auto;
  width: 45%;
}
.imgProductGamingFeature {
  width: 50%;
}
.linkProductFeature {
  text-decoration: none;
  display: grid;
  place-items: center;
}
.descriptionContainerFeature {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #000;
  width: 50%;
  height: auto;
  border-radius: 0 0 5px 5px;
  flex-direction: column;
}
.descriptionContainerFeature h3 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
