@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.containerFeature {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-evenly;
  padding: 2em;
}
.containerFeatureMobileOn {
  display: none;
}
.containerTitle {
  margin: auto;
  width: 40%;
}
.titleProductFeature {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  font-weight: bold;
  font-family: "Electrolize";
  font-size: 50px;
}
.titleProductFeature2 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 30px;
}

.productContainerFeature {
  width: 30vw;
  margin: 1rem 0;
  transition: all 0.5s;
}

.productContainerFeature:hover {
  opacity: 0.8;
}
.containerDescriptionFeature {
  display: grid;
  place-items: center;
  width: 80%;
}
.imgProductGamingFeature {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.linkProductFeature {
  text-decoration: none;
  display: grid;
  place-items: center;
}
.descriptionContainerFeature {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #000;
  width: 100%;
  height: auto;
  border-radius: 0 0 5px 5px;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
}
.descriptionContainerFeature h3 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.buttonContainerFeature {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.buttonProductContainerFeature {
  margin: 1px;
  padding: 0.4rem;
  height: auto;
  width: auto;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  background-color: #000;
  border: solid 1px rgb(255, 255, 255);
  transition: all 0.3s;
}
.buttonProductContainerFeature:hover {
  cursor: pointer;
  background-color: #f5a742;
}

.iconCardHomeProductLink {
  text-decoration: none;
}
.iconCardText {
  color: black;
  font-weight: 500;
  font-size: 20px;
  margin: 2rem auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.3em;
  transition: all 0.1s;
  width: 50%;
  display: grid;
  place-items: center;
}
.iconCardText:hover {
  background-color: rgb(238, 238, 238);
  box-shadow: 1px 1px 5px 0.01em rgb(110, 109, 109);
}

@media (max-width: 1300px) {
  .containerFeature {
    width: 90%;
    margin: auto;
  }
  .containerTitle {
    width: 80%;
  }
  .containerDescriptionFeature {
    width: 20vw;
    margin: 5px;
  }
}

@media (max-width: 1000px) {
  .containerFeature {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
  }

  .productContainerFeature {
    margin-top: 0;
    width: 100vw;
  }
  .containerFeatureMobileOn {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
  }
  .containerFeatureMobileOff {
    display: none;
  }
  .containerDescriptionFeature {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .containerFeature {
    display: grid;
    place-items: center;
  }
  .containerFeatureMobileOff {
    display: none;
  }
  .containerDescriptionFeature {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .containerDescriptionFeature {
    width: 50%;
    display: grid;
    place-items: center;
  }
}

@media (max-width: 400px) {
  .containerFeature {
    width: 100%;
    margin: auto;
  }
  .containerTitle {
    width: 60%;
  }
  .titleProductFeature {

    font-size: 40px;
    margin: auto;
  }
  .tittleContainer{
    margin: 3rem;
  }
  .titleProductFeature2 {
    font-size: 20px;
    margin: auto;
  }

  .containerDescriptionFeature {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    width: 60vw;
  }
}
